:root {
    --white: #ffffff;
    --red: #C92127;
    --main-background-color: #F0F0F0;
    --main-border-color: #808080;
    --main-text-color: #212529;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --body-font-weight: 400;
    --body-line-height: 1.5;
}

.container {
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
}

.no-padding {
    padding: 0 !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

body {
    margin: 0;
    background-color: var(--main-background-color);
    font-family: var(--font-sans-serif);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--main-text-color);
}
